<header>
  <h2>{{ headerStatement }}</h2>
  <p>
    <a href="/">{{ toUpperCase 'home'}}</a>
  </p>
  <p>
    <a href="/about">{{ toUpperCase 'about'}}</a>
  </p>
  <p>
    <a href="/projects">{{ toUpperCase 'projects'}}</a>
  </p>
</header>
